html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,img,ins,q,small,strong,sub,sup,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;margin:0;padding:0;}
article,aside,figure,figure img,figcaption,hgroup,footer,header,nav,section,video,object{display:block;}
a img{border:0;}
figure{position:relative;}
figure img{width:100%;}
.container{padding-left:20px;padding-right:20px;}
.row{width:100%;max-width:1140px;margin:0 auto;overflow:hidden;}
.onecol,.twocol,.threecol,.fourcol,.fivecol,.sixcol,.sevencol,.eightcol,.ninecol,.tencol,.elevencol{margin-right:3.8%;float:left;}
.onecol{width:4.85%;}
.twocol{width:13.5%;}
.threecol{width:22.15%;}
.fourcol{width:30.8%;}
.fivecol{width:39.45%;}
.sixcol{width:48.1%;}
.sevencol{width:56.75%;}
.eightcol{width:65.4%;}
.ninecol{width:74.05%;}
.tencol{width:82.7%;}
.elevencol{width:91.35%;}
.twelvecol{width:100%;float:left;}
.last{margin-right:0px;}
img,object,embed{max-width:100%;}
body{font-size:12px;font-family:Helvetica,sans-serif;}body h1{font-size:2em;line-height:1.5em;margin-top:0.75em;margin-bottom:0em;}
body h2{font-size:1.8333em;line-height:1.6364em;margin-top:0.8182em;margin-bottom:0em;}
body h3{font-size:1.6667em;line-height:1.8em;margin-top:0.9em;margin-bottom:0em;}
body h4{font-size:1.5em;line-height:1em;margin-top:1em;margin-bottom:0em;}
body h5{font-size:1.3333em;line-height:1.125em;margin-top:1.125em;margin-bottom:0em;}
body h6{font-size:1.1667em;line-height:1.2857em;margin-top:1.2857em;margin-bottom:0em;}
body p{font-size:1em;line-height:1.5em;margin:0 0 1.5em 0;}
body a{color:#903;text-decoration:none;}
body a:hover,body a:focus{text-decoration:none;color:#990035;}
body .calendar h2#current_date{color:#333;font-size:5em;text-transform:uppercase;text-align:center;margin:0;}
body .calendar h2#current_date a{font-size:0.4em;}
body .calendar ol li{background:#f4f4f4;float:left;display:block;width:10%;padding:2% 1.8em 4.8% 1.8em;border-top:1px solid #fff;border-bottom:1px solid #ddd;border-left:1px solid #eee;border-right:1px solid #e5e5e5;position:relative;}body .calendar ol li h3.date{font-size:3em;line-height:0.5em;text-align:center;color:#666;text-shadow:#fff 0px 1px 1px;}
body .calendar ol li img{position:absolute;top:0;width:100%;left:0;margin:0;}
body .calendar ol li .lesson{display:none;position:absolute;top:0;right:0;background:#eee;background-color:rgba(255, 255, 255, 0.7);width:100%;height:100%;}body .calendar ol li .lesson h3{margin-left:1em;}
body .calendar ol li .lesson p{margin-left:1em;}
body .calendar ol li:hover{background:#f9f9f9;}body .calendar ol li:hover .lesson{display:block;}
body .calendar ol li.attended h3.date{text-shadow:none;}
body .calendar ol li.attended h3.teacher{font-size:1em;}
body .calendar ol li.in_the_future h3.date{color:#ccc;}
body .calendar ol li.today{background:#fff;}
hr,.hide{display:none;}
a img{border:none;}
.group:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
