%h1
  -if @user == current_user 
    Namaste
    =current_user.username.titlecase
  -else
    =@user.username

.calendar
  %h2=@current_time.strftime("%B")
  
  %ol.group
    -Time.days_in_month(@current_time.month).times do |i|
      - date = i+1
      - lessons_on_this_day = @lessons.select{|lesson| lesson.attended_at.day == date }
      - css_classes = []      
      - css_classes << "attended" unless lessons_on_this_day.blank?
      - css_classes << "in_the_future" if date > @current_time.day
      
      %li{:class => css_classes }
        %h3.date=date
        -lessons_on_this_day.each do |lesson|
          .lesson
            %h3.teacher=lesson.teacher.name
            %p.lesson_time=lesson.attended_at.strftime('%H:%M %p')