.calendar.row
  %h2#current_date
    =link_to((@display_time - 1.month).strftime("%B"), user_path(@user, :month => (@display_time - 1.month).month, :year => (@display_time - 1.month).year), :class => 'prev')
    %span.month=@display_time.strftime("%B")
    -if (@current_time > (@display_time + 1.month))
      =link_to((@display_time + 1.month).strftime("%B"), user_path(@user, :month => (@display_time + 1.month).month, :year => (@display_time + 1.month).year), :class => 'next')
  
  %ol.group.twelvecol
    -Time.days_in_month(@display_time.month).times do |i|
      - date = i+1
      - lessons_on_this_day = @lessons.select{|lesson| lesson.attended_at.day == date }
      - css_classes = []      
      - css_classes << "attended" unless lessons_on_this_day.blank?
      - css_classes << "in_the_future" if date > @current_time.day
      - if (@display_time.year == @current_time.year && @display_time.month == @current_time.month) && date == @current_time.day
        - css_classes << "today" 
      
      %li{:class => css_classes }
        -if lessons_on_this_day.present?
          %img{:src => "/images/stamp.png"}
        %h3.date=date
        -lessons_on_this_day.each do |lesson|
          .lesson
            %h3.teacher=lesson.teacher.name
            %p.lesson_time=lesson.attended_at.strftime('%H:%M %p')
