@import "import/reset";
@import "import/common";

.gutter(10px);

#page {
  .span(12);
  .inset > .margin(3);
  position: relative;

  h1#logo {
    .inset > .gutter;
    margin-bottom: 0;
    font-size: 3em;
    line-height: 0.87em;
    padding-top: 0.4em;
    text-transform: uppercase;
    text-align: center;
  }
  
  #main_nav {
    .group;
    position: absolute;
    top: 2.2em;
    right: 0;
    li {
      float: left;
      .span(1, @gutter);
    }
  }
  
  .alert, .notice {
    .span(4, @gutter);
    clear: both;
  }
  
  h2 {
    text-transform: uppercase;
  }
}

.stat {
  .span(4, @gutter);
  .group;
  float: left;
  margin-right: @gutter;
  min-height: 6 * 20px;
  h2 {
    .span(4);
  }
  
}

.calendar {
  
  ol {
    .span(4);
        
    li.date {
      color: #ccc;
      float: left;
      display: block;      
      position: relative;
      width: 12%;
      padding: 5px 5px 0 5px;
      border-bottom: 1px solid #ccc;
      
      h3 {
        margin: 0;
        text-align: right;        
      }
      
      .lessons {
        .rounded;
        background: #333;
        bottom: 0;
        left: 0;
        position: absolute;
        z-index: 999;
        opacity: 0;
        
        .transition(opacity);
      
        .lesson {
          .span(2);
          display: block;
          padding: 0.5em;
          h3 {
            margin: 0;
            font-size: 1.2em;
            text-align: left;
          }
          
          p.lesson_time {
            margin: 0;
            font-weight: normal;
          }
          
          .lesson + .lesson {
            border-top: 1px solid #ccc;
          }
        }
      }
      
      &:hover {
        cursor: pointer;
        .lessons {
          opacity: 1;
        }
      }
    }
    
    #lessons-for-15 {
      display: block;
    }
    
    li.today {
      color: #aaa;
    }
    
    li.attended {
    }
    
    li.in_the_future {
    }
  }
  
  .prev {
    .span(2);
    float: left;
    padding-top: 0.95em;
  }
  
  .next {
    float: right;
    padding-top: 0.95em;
  }
}

.value {
  font-size: 4em;
  font-weight: bold;
  display: block;
}

.user_session {
  .span(10, @gutter);
}